extends layout
block content
    .row
     h1 Welcome to the products page  <br><br>
     #flip Click to slide down panel
     #panel
        .grid-container
            each product in products
              .item 
                h1.itemtitle #{product.name}
                img.pimage(src='#{product.image}', alt='some image')
                p.itemp Used for: #{product.activity}
                p.itemp Price: €#{product.price}
                a.button(href='show/#{product.name}') Show
                a.button(href='edit/#{product.name}') Edit
                a.button(href='delete/#{product.name}') Delete Product
                
                